<li class="dropdown">
  <a class="drop-trigger" href="index.html"><i class="fas fa-caret-down"></i></a>
  <ul class="drop-menu">
    <li><a href="index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="painting.html" class="{% if page.url == '/painting.html' %}current{% endif %}">Painting</a></li>
    <li><a href="ceramic.html" class="{% if page.url == '/ceramic.html' %}current{% endif %}">Ceramic</a></li>
    <li><a href="drawing.html" class="{% if page.url == '/drawing.html' %}current{% endif %}">Drawing</a></li>
    <li><a href="photography.html" class="{% if page.url == '/photography.html' %}current{% endif %}">Photography</a></li>
  </ul>
</li>
