<li><a href="index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
<li><a href="Painting.html" class="{% if page.url == '/painting.html' %}current{% endif %}">Painting</a></li>
<li><a href="Ceramic/index.html" class="{% if page.url == '/Ceramic' %}current{% endif %}">Ceramic</a></li>
<li><a href="Drawing.html" class="{% if page.url == '/drawing.html' %}current{% endif %}">Drawing</a></li>
<li><a href="Photography.html" class="{% if page.url == '/photography.html' %}current{% endif %}">Photography</a></li>
